<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>

<style>
	fieldset {
  		background-color: #eeeeee;
  		width: 500px;
	}
</style>

<body>
	<h2> Notification %></h2>

	
	<%
		 reqst.forEach( function(place_req){ %>
			<% if(place_req.action === 'add') { %>
 			<fieldset>
				

 				<h4>Request for add place</h4>
				<table>
					<tr>
						<td>Scout Name</td>
						<td></td>
						<td><%= place_req.scout_name %></td>
					</tr>
					<tr>
						<td>Country Name</td>
						<td></td>
						<td><%= place_req.country_name %></td>
					</tr>

					<tr>
						<td>Place</td>
						<td></td>
						<td><%= place_req.place %></td>
					</tr>

					<tr>
						<td>Cost</td>
						<td></td>
						<td><%= place_req.cost %> BDT</td>
					</tr>

					<tr>
						<td>Contact</td>
						<td></td>
						<td><%= place_req.contact %></td>
					</tr>

					<tr>
						<td><a href="/country/notification/details/<%= place_req.place %>">Details..</a></td>
						<td><a href="/country/notification_add/accept/<%= place_req.place %>">Accept</a> |</td>
						<td><a href="/country/notification/cancel/<%= place_req.place %>">Cancel</a></td>
					</tr>
				</table>
			</fieldset>
			<% 
				}
					%>
					<% if(place_req.action === 'update') { %>
						<fieldset>
						   
		   
							<h4>Request for edit place</h4>
						   <table>
							   <tr>
								   <td>Scout Name</td>
								   <td></td>
								   <td><%= place_req.scout_name %></td>
							   </tr>
							   <tr>
								   <td>Country Name</td>
								   <td></td>
								   <td><%= place_req.country_name %></td>
							   </tr>
		   
							   <tr>
								   <td>Place</td>
								   <td></td>
								   <td><%= place_req.place %></td>
							   </tr>
		   
							   <tr>
								   <td>Cost</td>
								   <td></td>
								   <td><%= place_req.cost %> BDT</td>
							   </tr>
		   
							   <tr>
								   <td>Contact</td>
								   <td></td>
								   <td><%= place_req.contact %></td>
							   </tr>
		   
							   <tr>
								   <td><a href="/country/notification/details/<%= place_req.place %>">Details..</a></td>
								   <td><a href="/country/notification_edit/accept/<%= place_req.place %>">Accept</a> |</td>
								   <td><a href="/country/notification/cancel/<%= place_req.place %>">Cancel</a></td>
							   </tr>
						   </table>
					   </fieldset>
					   <% 
						   }
							   %>
			<br>
		<%
			}); 
		%>	

		<a href="/admin_home">Back</a>  |
	<a href="/logout">logout</a> <br><br>	

</body>
</html>
